<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/addbook.css">
    <style>
        @media (max-width: 576px) {
            #back-button {
                display: none;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center my-4">Add a New Book to the Library</h1>
        <a href="#" id='back-button' onclick="history.back()" class="btn btn-primary" onclick="history.back()">Back</a>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="/books/create" method="POST" class="p-4 border rounded shadow">
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" id="title" name="title" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="author">Author:</label>
                        <input type="text" id="author" name="author" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="genre">Genre:</label>
                        <input type="text" id="genre" name="genre" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="language">Language:</label>
                        <input type="text" id="language" name="language" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="summary">Summary:</label>
                        <textarea id="summary" name="summary" class="form-control" rows="4" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="count">Count:</label>
                        <input type="number" id="count" name="count" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Add Book</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
